<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue.nextTick</title>
  <script src="../js/vue.js"></script>
</head>

<body>
  <div id="root">
    <div ref='msgDiv'>{{msg}}</div>
    <div v-if='msg1'>Message got outside $nextTick: {{msg1}}</div>
    <div v-if='msg2'>Message got inside $nextTick: {{msg2}}</div>
    <div v-if='msg3'>Message got outside $nextTick: {{msg3}}</div>
    <button @click="changeMsg">Change the Message</button>
  </div>

  <script>
    /*
      问题1： v-model的数据是双向数据绑定，页面数据已经更新了，为什么还要使用nextTick呢?
              */

    var vm = new Vue({
      el: "#root",
      data: {
        msg: 'Hello Vue',
        msg1: '',
        msg2: '',
        msg3: ''
      },
      methods: {
        changeMsg() {
          this.msg = 'Hello world.'
          this.msg1 = this.$refs.msgDiv.innerHTML  //还是没更新的值
          this.$nextTick(() => {
            this.msg2 = this.$refs.msgDiv.innerHTML //更新之后的值
          })
          this.msg3 = this.$refs.msgDiv.innerHTML //没更新的值
        }
      }
    })

    /* 原因是DOM更新是异步的，操作更新后，会放入队列中
       nextTick使用场景： 数据更新后需要执行操作，操作是随数据变化而更新DOM结构的时候，这个操作需要放在nextTick中
     */

  </script>

</body>

</html>